body {
    font-family: "museo-sans-rounded", "Museo Sans Rounded";
    font-size: 16pt;
    font-style: normal;
    background-color: #000;
    color: white;
    width: 100%;
    height: 100%;
    margin: 0;
}

p {
    margin: 0 auto;
}

.title {
    margin: 0 auto 4pt 0;
}

h1 {
    font-size: 150%;
    font-weight: 700;
    line-height: 1.1em;
}

h2 {
    font-size: 125%;
    font-weight: 300;
    line-height: 1em;
    margin-top: 8px;
}

.wrapper {
    position: relative;
}

.leftPanel {
    width: 30%;
    box-sizing: border-box;
    position: fixed;
}

.rightPanel {
    box-sizing: border-box;
    width: 70%;
    height: 100vh;
    position: absolute;
    left: 30%;
}

.center-y {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.meta {
    padding: 32px;
    background-color: #303840;
    color: #fafcff;
    margin: 32px;
    border-radius: 32px;
}

.floatingPanel {
    position: absolute;
    top: 0;
    left: 0;
}

.buttons {
    margin-bottom: -16px;
}

.button {
    display: inline-block;
    border-radius: 100px;
    padding: 16px;
    font-weight: 500;
    padding: 17px 32px 16px 32px;
    box-sizing: border-box;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 16px;
    margin-right: 8px;
    user-select: none;
}

.teal1:hover {
    background-color: #40aaaa;
}

.red1:hover {
    background-color: #F54C63;
}

.red1 {
    background-color: #F31E3C;
}

.teal1 {
    background-color: #109494;
}

.orthobg {
    background: url(//demo.unearthlabs.com/codepen/d_0004_kitsap.jpg);
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
}